.user-list {
  width: 50%;
  height: 50vh;
  box-sizing: border-box;
}

.user-list__title {
  margin: 0 0 10px;
  font-size: 20px;
  font-weight: 400;
}

.user-list__list {
  margin: 0;
  padding: 0;
}