.page {
  background-color: #65539a;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  font-family: "Inter", "Arial", sans-serif;
  font-style: normal;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
